
*zap.json
/server/pkg/
/.docker/
/server/teste/
/server/addressApi/storage/
/server/authApi/storage/
/server/cardApi/storage/
/server/synchrApi/storage/
/server/commerceApi/storage/
/server/sharedApi/storage/
/server/userApi/storage/
/server/orderApi/storage/





##############################
## Java
##############################
.titanic
*.class
*.war
*.ear
hs_err_pid*
logs/
*.log
*.py[cod]
webapp/angular/
main/webapp/angular/
/web/.angular/
/.angular/

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## Gradle
##############################
bin/
.build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
src/angular/node_modules/
src/main/webapp/angular
*.iml
*.ipr
*.iws
node_modules/

##############################
## Eclipse
##############################
.settings/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

##############################
## NetBeans
##############################
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
/out-tsc

##############################
## Visual Studio Code
##############################
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
*.launch
.c9/

##############################
## OS X
##############################
.DS_Store

##############################
## Generated by Windows
##############################
Thumbs.db

##############################
## profiling files
##############################
chrome-profiler-events*.json

##############################
## Only exists if Bazel was run
##############################
/bazel-out

# Applications
*.app
*.exe

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
